#main
 {
    display: flex ;
    flex-direction: column;
    align-items: center;
}
body
 {
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: #fbe3ff;
}
#photo
{
    width: 300px;
    height: 300px;
    border-radius: 45%;
    border: 6px solid #ff94d1;
}
h1, #bday_age , #bday_date
 {
    color: #cc2660;
    text-shadow: 1px 1px 1px #000000;
}
#bday_age 
{
    background: rgb(69, 175, 210);
    color: white;
    margin: 10px 0px 0px 5px;
    padding: 5px 10px;
    border-radius: 15px;

}
#bday_date
{
    background: rgb(69, 175, 210);
    color: white;
    margin: 8px 0px 0px 5px;
    padding: 5px 10px; 
    border-radius: 15px;
}
.gift
{
    margin-top: 30px ;
}
.gift-title , .gift-hint
{
    margin-bottom: 15px;
}
#gift-cover , #people, #badass ,#genius , #cheers
{
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 20px;
    background-image: url("img/gift-cover.jpg");
    background-size: cover;
    margin: 0px auto 0px auto;
}
#gift-cover:hover
{
    background-image: url("img/happy.gif");
    background-size: cover;
}
#people:hover
{
    background-image: url("img/hot.gif");
}
#badass:hover
{
    background-image: url("img/badass.gif");
}
#genius:hover
{
    background-image: url("img/genius.gif");
}
#cheers
{
    height: 200px;
}
#cheers:hover
{
    background-image: url("img/cheers.gif");
}