body
{
    background: linear-gradient(rgb(32, 32, 65), rgb(2, 2, 5));
    color: rgb(255, 244, 222);
    background-attachment: fixed;
    background-size: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}
#heading
{
    width: 400px;
    margin-top: 100px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: flex-start;
}
#randomText
{
    color: rgb(56, 215, 85);
}
#randomText, #generateText
{
    margin: 0px;
}
#generateBtn
{
    border: none;
    border-radius: 5px;
    height: 35px;
    background-color:rgb(58, 176, 79) ;
}
#generateBtn:hover
{
    background:rgb(45, 147, 64) ;
}
#generateBtn:active
{
    background:rgb(26, 87, 37) ;
}
#passwordCarrier
{
    display: flex;
    margin: 10px;
    margin-left: 0px;
}
h3
{
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 6px;
    transition: background 0.2s, transform 0.1s;
    margin-top: 20px;
    margin: 10px;
    padding: 10px;
    background: rgb(0, 0, 0);
}
h3:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.02);
}
#pswd1
{
    margin-left: 0px;
}
